*{
  text-align: center;
  font-family: FantasqueSansMonoRegular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: .02px dotted;
   border-color: white; */
}
pre{
  text-align: left;
  font-family: FantasqueSansMonoRegular;

}
html {
  scroll-behavior: smooth;
}
body {
  background-color:#b2ebf2 ;
  /* background-image: url('../../img/coffeeshop.gif'); */
	font-weight: 300;
	line-height: 1.5;
	font-size: 16px;
  border-color: #b2ebf2;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position : fixed;
  text-align: none;
  border:none;
  background-color: white;
  border-color: #b2ebf2;
}
#header-img{
  padding-right: 12px;
  width: 10rem;
  border:none;
}
form input {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
img{
  width: 20rem;
}
form input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}
form p{
  text-align: left;
}
.main-content{
  margin: 16rem;
  border-color: #b2ebf2;
 /* background-image: './img/coffeeshop.gif'; */
}
h1{
  font-size: 4rem;
}
header{
  top: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
li{
  list-style: none;
  padding: .2rem;
  margin: 5px;
  background-color: #f1c40f;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  
}
.a1{
  display:flex;
  flex-direction: column;
}
#video{
  margin-top: 2rem;
  border:none;
}
@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:none;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: white;

}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
    background-color: #ccc;

}

.product > ol {
  margin: 15px 0;
    background-color: #ccc;

}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  border:none;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

